body {
    text-align: center;
    align-items: center;
    background-color: rgb(197, 197, 197);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    margin-bottom:0px;
}

button {
    border-style: solid black;
    background-color: grey;
}

button:hover {
    border-style: solid grey;
    background-color: black;
    color: grey;
}

button {
    padding: 0.5rem;
    border-radius: 1rem;
}

.down {
    padding-top: 3%;
    margin-bottom: 1rem;
}

input {
    height: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#section6{
    padding:1rem;
    display:flex;
    justify-content: space-around;
}

.boton{
    padding:1rem;
}

#botonJuego{
    margin:0px;
}

img{
    height: 70vh;
}

#section2{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.middle{
    text-align:center;
    justify-content: space-between;
}

#down{
    background-color: rgb(69, 62, 101);
    display:flex;
    padding:0.5rem;
    border-radius:5rem;
    font-size:1rem;
    justify-content:space-around;
    align-items: center;
}

#score{
    font-size:1.5rem;
}

#round_num{
    font-family: "Bebas Neue", sans-serif;
    font-weight:800;
    font-style: normal;
}

#or{
    font-size:2rem;
    background-color: gray;
    padding:1.5rem;
    border-radius: 5rem;
}

/*hamburger menu logo
.container {
    align-items: right;
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}*/